body {
  font-family: "Times";
}

.welcome {
  text-align: center;
  margin-top: 26vh;
}

.welcome h1 {
  font-size: 20em;
  font-size: 34vw;
  font-weight: bold;
}

.welcome h4 {
  font-size: 4em;
  font-size: 4vw;
}

.welcome .dot {
  color: #a71b0f;
}
