body {
  font-family: "Times";
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 15px;
  box-sizing: border-box;
}

.welcome h1 {
  font-size: 34vw;
  font-weight: bold;
  margin: 0 0 8vh 0;
}

.welcome .tagline {
  font-size: 5vw;
  margin: 0;
}

.welcome .dot {
  color: #a71b0f;
}
